.add-category {
        font-size: 10px;
  cursor: pointer;

  color: black;
  width: 100px;
  height: 30px;
  margin: 10px;
  margin-left: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-prompt {
        font-size: 10px;
  cursor: pointer;

  color: black;
  width: 100px;
  height: 30px;
  margin: 10px;
  margin-left: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  font-size: 14px;
  background-color: white;
  color: black;
  width: 780px;
  height: 60px;
  margin: 10px;
  margin-left: 20px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: left;
  align-items: center;
}

.prompt {
font-size: 14px;
  background-color: white;
  color: black;
  width: 760px;
  height: 60px;
  margin: 10px;
  margin-left: 40px;
  padding-left: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: left;
  align-items: center;
}

.Title {
 
}




.trash1 {
  cursor: pointer;
  justify-content: right;
  margin-left:680px; /* Add margin to separate from category */
}
.trash2 {
  cursor: pointer;
  justify-content: right;
 
}

.form-card {
  background-color: #fff;          /* White background for the card */
  border-radius: 8px;              /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  /* Subtle shadow for depth */
  padding: 20px;                   /* Padding inside the card */
  margin: 20px;    
  width: 1000px;                /* Margin outside the card */
               /* Maximum width of the card */
             /* Full width within the container */
  height: 100%;
  box-sizing: border-box;          /* Include padding and border in element's total width and height */
}

.form-button {
  margin: 5px;
  margin-top: 2px;
  border-color: lightgrey;
  font-size: 12px;
}

.add-button {
  margin: 5px;
  margin-top: 2px;
  border-color: lightgrey;
  font-size: 12px;
  border-radius: 15px; /* Different border radius */
  padding-left: 12px;
  padding-right: 12px;
  margin-left: -450px;
}

.delete-button {
  margin: 5px;
  margin-top: 2px;
  border-color: lightgrey;
  font-size: 12px;
  border-radius: 15px; /* Different border radius */
  padding-left: 12px;
  padding-right: 12px;
}


.inner-button {
  border-radius: 5px; /* Different border radius */
  border-color: lightgrey;
  
}
