

.container {
  display: flex;
  
  margin-top: 50px;
}
.lower-content {
    display: flex;
  
}



.container2 {
  margin-top: 20px;
}

.todo {
  background-color: #f3f4f6;
  width: 580px;
  height: 430px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-content {
  height: 40vh;
}

.todo-list {
 

}

.todo-cell {
  display: flex;

  text-align: center;
}

.todo-cell p {
  margin-left: 15px;
}

.resource {
  background-color: #f3f4f6;
  width: 580px;
  height: 200px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  color: white;
  width: 280px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
}
