

.container {
  display: flex;
  
  margin-top: 50px;
}
.lower-content {
    display: flex;
  
}



.container2 {
  margin-top: 20px;
}

.todo {
  background-color: #f3f4f6;
  width: 580px;
  height: 430px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-content {
  height: 40vh;
  
}

.todo-list {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.todo-header, .todo-row {
  display: flex;
  width: 100%;
}

.todo-cell {
  flex: 1;

  text-align: center;
}

.todo-cell p {
  margin-left: 15px;
}


.todo-cell.header {
  font-weight: bold;
  background-color: #f4f4f4;
  border-bottom: 2px solid #ccc;
}

.todo-row:nth-child(even) {
  background-color: #f9f9f9;
}

.todo-row:hover {
  background-color: #e0e0e0;
}
.resource {
  background-color: #f3f4f6;
  width: 580px;
  height: 200px;
  margin: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  color: white;
  width: 280px;
  height: 150px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
}
