

.container {
    display: flex;
    
    margin-top: 50px;
  }
  
  
  .middle-content {
    margin-top: 20px; /* Optional: Add spacing from the top */
    margin-left: 10px;
    text-align: left;
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    color: black; /* Set text color to black */
    display: flex;
  }
  
  .class-dropdown {
    margin-left: 10px; /* Space between text and dropdown */
    padding: 5px;
    font-size: 14px; /* Adjust font size as needed */
    border-radius: 5px;
  }
  
  .button-add {
    border-color: lightgrey;
    font-size: 12px;
    border-radius: 20px; /* Different border radius */
    padding:  5px 8px;
    margin-left: 15px;
  
  }
  
  
  
  .container2 {
    margin-top: 4px;
  }

  .lower-content {
    display: flex;
    }
  
  .teacher-todo {
    background-color: #f3f4f6;
    width: 382px;
    height: 430px;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .assign-survey {
    
  }
  
  .todo-content {
    height: 40vh;
    
  }
  
  .todo-list {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
  
  .todo-header, .todo-row {
    display: flex;
    width: 100%;
  }
  
  .todo-cell {
    flex: 1;
  
    text-align: center;
  }
  
  .todo-cell p {
    margin-left: 15px;
  }
  
  
  .todo-cell.header {
    font-weight: bold;
    background-color: #f4f4f4;
    border-bottom: 2px solid #ccc;
  }
  
  .todo-row:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .todo-row:hover {
    background-color: #e0e0e0;
  }
  .resource {
    background-color: #f3f4f6;
    width: 580px;
    height: 200px;
    margin: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    color: white;
    width: 280px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
  }
  

  .teacher-dash-board {
    position: relative;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Darker overlay */
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1000; /* Ensure it appears above other content */
    
  }
  
  .sliding-panel {
    background-color: white;
    width: 70%;
    height: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding: 20px;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
    
  }


  .back-btn {
    background: none; /* Remove background */
    border: none; /* Remove border */
    color: black; /* Arrow color */
    font-size: 30px; /* Adjust size */
    cursor: pointer; /* Pointer cursor */
    margin: 10px; /* Margin for spacing */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .overlay .sliding-panel {
    transform: translateX(0);
  }
  
  .close-btn {
    background-color: #e53e3e;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }